body {
	padding: 20px;
	font-family: sans-serif;
	text-align: center;
}

nav ul li {
	display: inline;
	list-style-type: none;
	padding: 10px;
}

nav ul {
	padding: 0px;
	margin: 0px;
}

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: silver;
	padding: 10px;
}

h1 {
	padding-top: 15px;
}

p {
	width: 280px;
	margin-right: auto;
	margin-left: auto;
}

img.headshot {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}