body {
	font-family: serif;
	text-align: center;
	margin: 0px;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
	width: 100%;
	background-color: white;
	background-image: url("images/coffee_beans.jpg");
	background-position: center top;
}

nav {
	width: 100%;
	background-color: black;
	color: white;
}

nav ul {
	margin: 0px;
}

nav ul li {
	list-style: none;
	display: inline;
	padding: 10px;
	margin: 0px;
}

#dream {
	width: 90px;
	border-bottom: 2px dotted white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	color:white;

}

.title {
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
}

h2 {
	font-family: sans-serif;
}

section {
	width: 695px;
	overflow: auto;
	padding-top: 210px;
	margin-left: auto;
	margin-right: auto;
}

article {
	float: left;
	width: 325px;
	overflow: auto;
	margin: 10px;
}

footer {
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	width: 100%;
}