body {
	background-color: #797985;
}

h1 {
	font-family: Helvetica;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: left;
	color: white;
}

#title {
	color: #F20A57;	
}

#navbar {
	color: white;
	text-align: right;
}

#left {
	color: white;
}

#right {
	color: white;
}